body {
   background-color: #fff;
   letter-spacing: 0.5px
}
@font-face {
    font-family: "PremierSans-Bold";
    src: url("https://ismdj.scdn5.secure.raxcdn.com/static/libsass/plfpl/dist/fonts/PremierLeagueW01-Bold.eot?&0dc85e35bde6#iefix") format("eot"), url("https://ismdj.scdn5.secure.raxcdn.com/static/libsass/plfpl/dist/fonts/PremierLeagueW01-Bold.woff2?0dc85e35bde6") format("woff2"), url("https://ismdj.scdn5.secure.raxcdn.com/static/libsass/plfpl/dist/fonts/PremierLeagueW01-Bold.woff?0dc85e35bde6") format("woff"), url("https://ismdj.scdn5.secure.raxcdn.com/static/libsass/plfpl/dist/fonts/PremierLeagueW01-Bold.ttf?0dc85e35bde6") format("truetype"), url("https://ismdj.scdn5.secure.raxcdn.com/static/libsass/plfpl/dist/fonts/PremierLeagueW01-Bold.svg?0dc85e35bde6#6fd2576b-b17d-42bb-8069-d902dd3f6a6e") format("svg");
  }

.title {
    height : 150px;
    background-color : #00FF87 ; 
}


.product {
    margin-top : 50px;
    background-color: white;
    position: relative;
}


/* 
 .img-prd{
    height: 200px;
    width: 100%;
    background-size: 70%;
    background-position: 50%;
    background-repeat: no-repeat;
    box-sizing: border-box;
} */

img{
    height: 150px;
}
.name-prd {
    background: #fff none repeat scroll 0 0;
    color: #000;
    float: left;
    padding: 15px;
    width: 100%;
}

price{
    width: 100%;
    float: left;
    color: #000;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 9px;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: -20px;
}

label{
    font-weight: bold;
    border-bottom: 1px solid #000;
    width: 100%;
    float: left;
    color: #000;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 0;
    display: inline-block;
    margin-bottom: 9px;
    max-width: 100%;
    box-sizing: border-box;
}
.title h1{
    font-family: "PremierSans-Bold",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: normal;
    color : #38003C
}  
 
.btn{
   margin-right: 10px;
}


.navbar{
    background-color:#38003C;
}

hr {
    width: 100%; color: grey; height: 1px; ;
}

 .fa-shopping-cart{
    color : white
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:target{
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}


.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  ul li, ol li {
    list-style-type: none;
}

.menu-ul{
    background-color: #02894e;
    color : white;
    font-size: 14px;
    font-family: "HelveticaLT";
    margin-right: .5rem;
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    position: relative;
    
}
.menu-li{
    display: inline-block;
    margin-right: 20px;
    box-sizing: border-box;
    position: relative;
}




.fixed-bottom{
    color : white;
    margin-top : 120px;
}

.navbar-light .navbar-brand {
    color : white;
}

.navbar-light .navbar-brand:hover{
    color : #00FF87;
}


.chart {
    font-size: 14px;
    font-family: "HelveticaLT";
}

input.dropdown-menu{
    width: 10%;
}


#myform {
    text-align: center;
    padding: 5px;
    border: 1px dotted #ccc;
    margin: 2%;
}
.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}

.remove:hover{
    background-color: red;
}